@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
#Education{
    padding: 5rem 10%;

}
.nous h1{
    font-size: 2vw;
    color: rgb(241, 188, 51);
    padding: 6vw;
    text-align: center;
    margin-bottom: 2vw;
    /* margin-top: 20vw; */
}
.box-d{
    /* background-color: rgba(20, 190, 246, 0.773); */
    /* margin-top: 4vw; */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    /* padding: 5vw 4vw; */
  }

.box-d .boxa{
    /* background: rgba(241, 187, 51, 0.14); */
    width: 30%;
    text-align: center;
    padding: 2vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0vw;
    margin-bottom: 2vw;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
   
}

.box-d .boxa img{
    padding: 0.2vw;
    margin-bottom: 2vw;
    width: 22vw;
    height: 18vw;
    /* position: absolute;
    top: -6vw; */
}
.box-d .boxa h3{
    text-transform: uppercase;
    font-size: 1.2vw;
    margin-bottom: 1vw; 

}
.box-d .boxa p{
    font-size: 1.vw;
    text-align: justify;
}
.box-d .boxa h2{
    color: rgb(241, 188, 51);
    font-size: 1.5vw;
    /* margin-top: 3vw; */
}
.box-d .boxa #VoirplusEducation{
    display: block;
    width:6vw;
    font-size: 1vw;
    /* background: #9dd1f4c3; */
    color: black;
    padding: .4vw;
    text-align: center;
    text-decoration: none;
    border-radius: 2vw;
    font-weight: bold;
    margin-top: 1.5vw;
    /* margin-left: 2vw; */
    border:solid black .1vw;
}
.box-d .boxa  #VoirplusEducation:hover {
    background: rgb(241, 188, 51);
    color: white;
    border: solid white .1vw;
}   

.box-d .boxa #VoirplusProfession{
    display: block;
    width:6vw;
    font-size: 1vw;
    /* background: #9dd1f4c3; */
    color: black;
    padding: .4vw;
    text-align: center;
    text-decoration: none;
    border-radius: 2vw;
    font-weight: bold;
    margin-top: 1.5vw;
    /* margin-left: 2vw; */
    border:solid black .1vw;
}
.box-d .boxa  #VoirplusProfession:hover {
    background: rgb(241, 188, 51);
    color: white;
    border: solid white .1vw;
}  

.box-d .boxa #VoirplusSanté{
    display: block;
    width:6vw;
    font-size: 1vw;
    /* background: #9dd1f4c3; */
    color: black;
    padding: .4vw;
    text-align: center;
    text-decoration: none;
    border-radius: 2vw;
    font-weight: bold;
    margin-top: 1.5vw;
    /* margin-left: 2vw; */
    border:solid black .1vw;
}
.box-d .boxa  #VoirplusSanté:hover {
    background: rgb(241, 188, 51);
    color: white;
    border: solid white .1vw;
}  
.box-d .boxa #VoirplusPrison{
    display: block;
    width:6vw;
    font-size: 1vw;
    /* background: #9dd1f4c3; */
    color: black;
    padding: .4vw;
    text-align: center;
    text-decoration: none;
    border-radius: 2vw;
    font-weight: bold;
    margin-top: 1.5vw;
    /* margin-left: 2vw; */
    border:solid black .1vw;
}
.box-d .boxa  #VoirplusPrison:hover {
    background: rgb(241, 188, 51);
    color: white;
    border: solid white .1vw;
}  
.box-d .boxa #VoirplusMouvement{
    display: block;
    width:6vw;
    font-size: 1vw;
    /* background: #9dd1f4c3; */
    color: black;
    padding: .4vw;
    text-align: center;
    text-decoration: none;
    border-radius: 2vw;
    font-weight: bold;
    margin-top: 1.5vw;
    /* margin-left: 2vw; */
    border:solid black .1vw;
}
.box-d .boxa  #VoirplusMouvement:hover {
    background: rgb(241, 188, 51);
    color: white;
    border: solid white .1vw;
}  
.box-d .boxa #VoirplusOeuvres{
    display: block;
    width:6vw;
    font-size: 1vw;
    /* background: #9dd1f4c3; */
    color: black;
    padding: .4vw;
    text-align: center;
    text-decoration: none;
    border-radius: 2vw;
    font-weight: bold;
    margin-top: 1.5vw;
    /* margin-left: 2vw; */
    border:solid black .1vw;
}
.box-d .boxa  #VoirplusOeuvres:hover {
    background: rgb(241, 188, 51);
    color: white;
    border: solid white .1vw;
} 



#EducationDetailler{
     display: none;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     overflow-y: auto;
     background-color: rgba(0, 0, 0, 0.7); /* Fond semi-transparent */
     z-index: 1000;
     padding: 50px 20px;
     box-sizing: border-box; 
}
#EducationDetailler .box-d{
    width: 80%;
    background: white;
    margin: auto;
    padding: 2vw;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
}
#EducationDetailler .box-d img{
    width: 35vw;
    height: 25vw;
    border-radius: 1vw;
    margin: auto;
}
#EducationDetailler .box-d .boxa{
    width: 100%;
    padding: 4vw;
    border: none;

}
#EducationDetailler .box-d .para{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
#EducationDetailler .box-d .para .scolaire{
    width: 30%;
    text-align: center;
    padding: 2vw;
    position: relative;
    display: flex;
    flex-direction:row;
    align-items: center;
    padding-top: 0vw;
    margin-bottom: 2vw;
    position: relative;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
   
}
#EducationDetailler .box-d .para .scolaire img{
    width: 20vw;
    height: 15vw;
}

#EducationDetailler .box-d .para .scolaire .légende{

}
#EducationDetailler .box-d .para .scolaire .légende h6{
    font-size:1vw;
    position: absolute;
    bottom: 0vw;
    left: 2vw;
}

#EducationDetailler .box-d .Auteur{
    width: 20vw;
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items:center;
    /* padding-left: 6vw; */
    /* gap: .5vw; */
    margin-top: 4vw; 
    text-align: right;
}

#EducationDetailler .box-d .Auteur .Leséducatrices{
    font-size: 1vw;
}

#EducationDetailler .box-d .Auteur img{
    width: 3vw;
    height: 3vw;
    /* display: none; */
    border: solid white .1vw;
    object-fit: cover;
    object-position: center;
    align-items: center;
    border-radius: 50%; 
    box-shadow: 0vw .2vw 1vw rgba(0, 0, 0, 0.1);  
}
.btnVoirMoins{
    display: block;
    width:7vw;
    font-size: 1vw;
    /* background: #9dd1f4c3; */
    color: black;
    padding: .6vw;
    text-align: center;
    text-decoration: none;
    border-radius: 2vw;
    font-weight: bold;
    margin-top: 1.5vw;
    margin-left: 0vw;
    border:solid black .1vw;
    background: none;
}

.btnVoirMoins:hover{
    background: rgb(241, 188, 51);
    color: white;
    border: solid white .1vw;
}
a{
    cursor: pointer;
}
#ProfessionDetailler{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 1000;
    padding: 50px 20px;
    box-sizing: border-box; 
}
#ProfessionDetailler .box-d{
    width: 80%;
    background: white;
    margin: auto;
    padding: 2vw;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
}
#ProfessionDetailler .box-d img{
    width: 35vw;
    height: 25vw;
    border-radius: 1vw;
}

#ProfessionDetailler .box-d .boxa{
    width: 100%;
    padding: 4vw;
    border: none;
}
#ProfessionDetailler .box-d .boxa h3{
    font-size: 1.2vw;
    color:rgb(241, 188, 51) ;
}

#ProfessionDetailler .box-d .boxa .Formation{
    width:100%;
    height: auto;
    
}

#ProfessionDetailler .box-d .boxa .Formation .Catéchèse{
    margin-top: 6vw;
    display: flex;
    /* box-shadow: 0 0 0.6vw rgba(0, 0, 0, 0.425); */
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    padding: 1vw;
    /* gap: 4vw; */
}

#ProfessionDetailler .box-d .boxa .Formation .Catéchèse img{
    width: 40%;
    height: 20vw;
    padding: 0 !important;
    margin: 0 !important; 
}
#ProfessionDetailler .box-d .boxa .Formation .Catéchèse .filière{
    width: 40%;

}
#ProfessionDetailler .box-d .boxa .Formation .Catéchèse .filière h4{
    font-size: 1vw;
    margin-bottom: 4vw;
    text-transform: uppercase;
}
#ProfessionDetailler .box-d .boxa .Formation .Catéchèse .filière p{
    font-size: 1vw;
}
#ProfessionDetailler .box-d .boxa .Formation .Pédagogie{
    margin-top: 6vw;
    display: flex;
    /* box-shadow: 0 0 0.6vw rgba(0, 0, 0, 0.425); */
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1vw;
    /* gap: 4vw; */

}

#ProfessionDetailler .box-d .boxa .Formation .Pédagogie .filière{
    width: 40%;
    height: 20vw;

}
#ProfessionDetailler .box-d .boxa .Formation .Pédagogie .filière h4{
    font-size: 1vw;
    margin-bottom: 4vw;
    text-transform: uppercase;
}
#ProfessionDetailler .box-d .boxa .Formation .Pédagogie .filière p{
    font-size: 1vw;
}

#ProfessionDetailler .box-d .boxa .Formation .Pédagogie img{
    width: 40%;
    height: 20vw;
}

#ProfessionDetailler .box-d .boxa .Formation .Management{
    margin-top: 6vw;
    display: flex;
    /* box-shadow: 0 0 0.6vw rgba(0, 0, 0, 0.425); */
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    padding: 1vw;
}
#ProfessionDetailler .box-d .boxa .Formation .Management .filière{
    width: 40%;
    height: 20vw;
}
#ProfessionDetailler .box-d .boxa .Formation .Management .filière h4{
    font-size: 1vw;
    margin-bottom: 4vw;
    text-transform: uppercase;
}
#ProfessionDetailler .box-d .boxa .Formation .Management .filière p{
    font-size: 1vw;
}
#ProfessionDetailler .box-d .boxa .Formation .Management img{
    width: 40%;
    height: 20vw;
}

#ProfessionDetailler .box-d .boxa .Formation .Soins{
    margin-top: 6vw;
    display: flex;
    /* box-shadow: 0 0 0.6vw rgba(0, 0, 0, 0.425); */
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    padding: 1vw;
    gap: 4vw;
}

#ProfessionDetailler .box-d .boxa .Formation .Soins img{
    width: 40%;
    height: 20vw;
}

#ProfessionDetailler .box-d .boxa .Formation .Soins .filière{
    width: 40%;
    height: 20vw;
}
#ProfessionDetailler .box-d .boxa .Formation .Soins .filière h4{
    font-size: 1.2vw;
    margin-bottom: 4vw;
    text-transform: uppercase;
}
#ProfessionDetailler .box-d .boxa .Formation .Soins .filière p{
    font-size: 1.2vw;
    padding: 1vw;
}

#ProfessionDetailler .box-d .Auteur{
    width: 20vw;
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items:center;
    /* padding-left: 6vw; */
    /* gap: .5vw; */
    margin-top: 4vw; 
    text-align: right;
}

#ProfessionDetailler .box-d .Auteur .Lescollaboratrices{
    font-size: 1vw;
}

#ProfessionDetailler .box-d .Auteur img{
    width: 3vw;
    height: 3vw;
    /* display: none; */
    border: solid white .1vw;
    object-fit: cover;
    object-position: center;
    align-items: center;
    border-radius: 50%; 
    box-shadow: 0vw .2vw 1vw rgba(0, 0, 0, 0.1); 
}

.btnVoirMoins{
    display: block;
    width:7vw;
    font-size: 1vw;
    /* background: #9dd1f4c3; */
    color: black;
    padding: .6vw;
    text-align: center;
    text-decoration: none;
    border-radius: 2vw;
    font-weight: bold;
    margin-top: 1.5vw;
    margin-left: 0vw;
    border:solid black .1vw;
    background: none;
}

.btnVoirMoins:hover{
    background: rgb(241, 188, 51);
    color: white;
    border: solid white .1vw;
}


#SantéDetailler{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 1000;
    padding: 50px 20px;
    box-sizing: border-box; 
}

#SantéDetailler .box-d{
    width: 80%;
    background: white;
    margin: auto;
    padding: 2vw;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
}
#SantéDetailler .box-d img{
    width: 35vw;
    height: 25vw;
    border-radius: 1vw;
}
#SantéDetailler .box-d .boxa{
    width: 100%;
    padding: 4vw;
    border: none;
}

#SantéDetailler .box-d .boxa h3{
    font-size: 2vw;
    color:rgb(241, 188, 51) ;
    padding-bottom: 2vw;
}
#SantéDetailler .box-d .boxa p{
    font-size: 1vw;
    padding: 1vw;
}
#SantéDetailler .box-d .Auteur{
    width: 20vw;
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items:center;
    /* padding-left: 6vw; */
    /* gap: .5vw; */
    margin-top: 4vw; 
    text-align: right;
}
#SantéDetailler .box-d .Auteur img{
     width: 3vw;
    height: 3vw;
    /* display: none; */
    border: solid white .1vw;
    object-fit: cover;
    object-position: center;
    align-items: center;
    border-radius: 50%; 
    box-shadow: 0vw .2vw 1vw rgba(0, 0, 0, 0.1);  
}
#SantéDetailler .box-d .Auteur .SrRobertine{
    font-size: 1vw;
}

#PrisonDetailler{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 1000;
    padding: 50px 20px;
    box-sizing: border-box;
}
#PrisonDetailler .box-d{
    width: 80%;
    background: white;
    margin: auto;
    padding: 2vw;
    border-radius: 2vw;
    display: flex;
    flex-direction: row
    /* justify-content: space-evenly; */
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
}
#PrisonDetailler .box-d h2{
    font-size: 2vw;
    color:rgb(241, 188, 51) ;
    padding-bottom: 4vw;
}
#PrisonDetailler .box-d .images{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
#PrisonDetailler .box-d .images .Détenus{
    width: 100%;
    padding: 1.5vw;
    padding-left: 4vw;
    text-align: left;
}
#PrisonDetailler .box-d .images img{
    width: 30vw;
    height: 20vw;
    position: relative;
    border-radius: 1vw;
}
#PrisonDetailler .box-d .images .Photo2015{
    font-size: 1.2vw;
    color: white;
    position: absolute;
    left: 18vw;
    bottom: 12vw;
}
#PrisonDetailler .box-d .boxa{
    width: 100%;
    padding: 4vw;
    border: none;
}
#PrisonDetailler .box-d .boxa p{
    font-size: 1.2vw;
    padding: 1vw;
}
#PrisonDetailler .box-d .boxa .Lova{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
#PrisonDetailler .box-d .boxa .Lova .Notrefrere{
    width: 100%;
    font-size: 1.2vw;
    text-transform: none;
    padding: 1.5vw;
    padding-left: 2vw;
    text-align: left;
}
#PrisonDetailler .box-d .boxa .Lova img{
    width: 20vw;
    height: 22vw;
    padding: 1vw;
}

#PrisonDetailler .box-d .boxa .Lova .Bénédiction{
    font-size: 1vw;
    color: white;
    position: absolute;
    left: 24vw;
    bottom: 3vw;
}
#PrisonDetailler .box-d .boxa  .Charité{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#PrisonDetailler .box-d .boxa  .Parrainage{
    width: 100%;
    font-size: 1.2vw;
    text-transform: none;
    padding: 1.5vw;
    padding-left: 2vw;
    text-align: left;
}
#PrisonDetailler .box-d .boxa .Charité img{
    width: 30vw;
    height: 20vw;
    border-radius: 1vw;
}
#PrisonDetailler .box-d .boxa .Charité .oeuvre{
    width: 30vw;
    height: 20vw;
}
#PrisonDetailler .box-d .boxa .Charité .oeuvre p{
    font-size: 1.2vw;
    padding: .8vw;
}

.btnVoirMoins{
    display: block;
    width:7vw;
    font-size: 1vw;
    /* background: #9dd1f4c3; */
    color: black;
    padding: .6vw;
    text-align: center;
    text-decoration: none;
    border-radius: 2vw;
    font-weight: bold;
    margin-top: 1.5vw;
    margin-left: 0vw;
    border:solid black .1vw;
    background: none;
}

.btnVoirMoins:hover{
    background: rgb(241, 188, 51);
    color: white;
    border: solid white .1vw;
}

#MouvementDetailler{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 1000;
    padding: 2vw 1vw;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}

#MouvementDetailler .box-d{
    width: 80%;
    background: white;
    margin: auto;
    padding: 2vw;
    border-radius: 2vw;
   
}
#MouvementDetailler .box-d h3{
   width: 100%;
   text-align: center;
    font-size: 2vw;
    color:rgb(241, 188, 51) ;
    padding-bottom: 4vw;
}

#MouvementDetailler .box-d .boxa{
    width: 100%;
    padding: 4vw;
    border: none;
}
#MouvementDetailler .box-d .boxa .texte5{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 4vw;
}
#MouvementDetailler .box-d .boxa .texte5 img{
    width: 30vw;
    height: 20vw;
    border-radius: 1vw;
    position: relative;
}
#MouvementDetailler .box-d .boxa .texte5 .mouvement{
    font-size: 1vw;
    position: absolute;
    left: 5vw;
    bottom: 51vw;
    color: white;
}
#MouvementDetailler .box-d .boxa .texte5 p{
    width: 30vw;
    height: 20vw;
    text-align: justify;
    padding-top: 4vw;
}
#MouvementDetailler .box-d .boxa .texte5 .adulte{
    font-size: 1vw;
    position: absolute;
    left: 39vw;
    bottom: 29vw;
    color: white;
}
#MouvementDetailler .box-d .boxa .texte5 .jeunes{
    font-size: 1vw;
    position: absolute;
    left: 5vw;
    bottom: 7vw;
    color: white;
}

.btnVoirMoins{
    display: block;
    width:7vw;
    font-size: 1vw;
    /* background: #9dd1f4c3; */
    color: black;
    padding: .6vw;
    text-align: center;
    text-decoration: none;
    border-radius: 2vw;
    font-weight: bold;
    margin-top: 1.5vw;
    margin-left: 0vw;
    border:solid black .1vw;
    background: none;
}

.btnVoirMoins:hover{
    background: rgb(241, 188, 51);
    color: white;
    border: solid white .1vw;
}
#OeuvresDetailler{
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      background-color: rgba(0, 0, 0, 0.7); 
      z-index: 1000;
      padding: 2vw 1vw;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;  
}

#OeuvresDetailler .box-d{
    width: 80%;
    background: white;
    margin: auto;
    padding: 2vw;
    border-radius: 2vw;
}

#OeuvresDetailler .box-d h3{
    width: 100%;
    text-align: center;
    text-transform:uppercase ;
    font-size: 2vw;
    color:rgb(241, 188, 51) ;
    padding-bottom: 4vw;
}
#OeuvresDetailler .box-d img{
    width: 45vw;
    height: 25vw;
    border-radius: 1vw;
}

#OeuvresDetailler .box-d .tete6{
    width: 80%;
    padding: 1vw;
}
#OeuvresDetailler .box-d .tete6 p{
    font-size: 1.2vw;
    padding-top: 8vw;

}
#OeuvresDetailler .box-d .boxa{
    width: 100%;
    padding: 4vw;
    border: none;
}
#OeuvresDetailler .box-d .boxa .Antsirabe{
    width: 100%;
    padding: auto;
}
#OeuvresDetailler .box-d .boxa .Antsirabe h3{
    font-size: 1.5vw;
    text-align: left;
    text-transform: none;
    color: black;
}
#OeuvresDetailler .box-d .boxa .Antsirabe .Site{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 4vw;
}
#OeuvresDetailler .box-d .boxa .Antsirabe .Site img{
    width: 45%;
    height: 15vw;
}
#OeuvresDetailler .box-d .boxa .Antsirabe .Site p{
    width: 45%;
    height: 15vw;
}
#OeuvresDetailler .box-d .boxa .Ambositra{
    width: 100%;
    padding: auto;
}
#OeuvresDetailler .box-d .boxa .Ambositra h3{
    font-size: 1.5vw;
    text-align: left;
    text-transform: none;
    color: black;
}
#OeuvresDetailler .box-d .boxa .Ambositra .Site{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 4vw;
}
#OeuvresDetailler .box-d .boxa .Ambositra .Site img{
    width: 45%;
    height: 15vw;
}
#OeuvresDetailler .box-d .boxa .Ambositra .Site p{
    width: 45%;
    height: 15vw;
}
#OeuvresDetailler .box-d .boxa .Antananarivo{
    width: 100%;
    padding: auto;
}
#OeuvresDetailler .box-d .boxa .Antananarivo h3{
    font-size: 1.5vw;
    text-align: left;
    text-transform: none;
    color: black;
}
#OeuvresDetailler .box-d .boxa .Antananarivo .Site{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 4vw;
}
#OeuvresDetailler .box-d .boxa .Antananarivo .Site img{
    width: 45%;
    height: 18vw;
}
#OeuvresDetailler .box-d .boxa .Antananarivo .Site p{
    width: 45%;
    height: 18vw;
}
#OeuvresDetailler .box-d .boxa .Bevato{
    width: 100%;
    padding: auto;
}
#OeuvresDetailler .box-d .boxa .Bevato h3{
    font-size: 1.5vw;
    text-align: left;
    text-transform: none;
    color: black;
}
#OeuvresDetailler .box-d .boxa .Bevato .Site{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 4vw;
}
#OeuvresDetailler .box-d .boxa .Bevato .Site img{
    width: 45%;
    height: 18vw;
}
#OeuvresDetailler .box-d .boxa .Bevato .Site p{
    width: 45%;
    height: 18vw;
}
.btnVoirMoins{
    display: block;
    width:7vw;
    font-size: 1vw;
    /* background: #9dd1f4c3; */
    color: black;
    padding: .6vw;
    text-align: center;
    text-decoration: none;
    border-radius: 2vw;
    font-weight: bold;
    margin-top: 1.5vw;
    margin-left: 0vw;
    border:solid black .1vw;
    background: none;
}

.btnVoirMoins:hover{
    background: rgb(241, 188, 51);
    color: white;
    border: solid white .1vw;
}