*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    font-family: Arial, sans-serif;
    width:100%;
    margin: auto;
    background: white;
    padding: 2dvb;
    border-radius: 2vw;
    box-shadow: 0vw 0vw 2vw rgba(0, 0, 0, 0.1);
    justify-content: space-evenly;
    display: flex;
}

h1 {
    font-size: 2vw;
    padding: 1vw;
    text-decoration: underline;
    color: #8B0000;
    /* text-align: center; */
}
.box {
   width: 30%;
   padding: 1vw;

}
.T{
  padding: 2vw;  
}
img{
    width: 26vw;
    height: 25%;
}

 h2 {
    color: #333;
    font-size: 1.2vw;
    padding:1vw;
}
p {
font-size: 1.2vw;
padding: 1vw;
}
ul {
    list-style-type: circle;
    padding: 0;
}
ul li {
    padding-left: 2.5vw;
    margin-bottom: 1.5vw;
}
ul li ul{
    list-style-type: square;
}
ul li ul li{
padding-left: 3vw;
}

