@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{ margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
body{
    font-family: 'Poppins', 'sans-serif';
    /* overflow-x: hidden; */
    padding: 5rem 10%;
}
#communautes{
    width: 100%;
    padding: 1vw; 
}
#communautes h1{
    color:rgba(248, 183, 18, 0.595) ;
     text-align: center;
     text-transform: uppercase;
     font-size: 2vw;
     padding: 4vw;
    }
#communautes .box7{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1vw;
    gap: 4vw;
}

#communautes .box7 img{
    width: 45%;
    height: 25vw;
}
#communautes .texte2{ 
    width: 45%;
}
#communautes .texte2 p{
    font-size: 1.2vw;
    padding: .6vw;
    text-align: justify;
}
#communautes .texte2  blockquote {
    background:rgba(249, 189, 189, 0.837);
    border-left: 1vw solid  #8B0000;
    font-style: italic;
    font-size: 1.2vw;
    text-align: justify;
    padding: .6vw;
    margin-top:1.8vw;
}
  #milieu{
    width: 100%;
    padding: 1vw;
    margin-top: 4vw;
  }  
  .titre2{
    width: 100%;
  }
  .titre2 h2{
    /* border: solid blue; */
    width: 25vw;
    padding: 4vw;
    margin-bottom: 4vw;
    text-align: center;
    position: relative;
    top: 0vw;
    left: 25vw;
  }

 .insertion{
    margin-top: 1vw;
    overflow: hidden; 
    width: 100%;
    
 }
.batiment {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1vw;
    /* gap: 4vw; */
    background: blue;
}

.batiment img{
    width: 45%;
    height: 20vw;
}
.batiment .adresse{
    width: 45%;
    height: 20vw;
}
.membre{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 4vw;  
    padding: 1vw;
    background: #8B0000;
    /* gap: 4vw; */
}
.membre .texte3{
    width: 45%;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.membre .texte3 h5{
    font-size: 1vw;
    padding: 4vw;
    text-transform: uppercase;
    color: wheat;
    
}
.membre img{
    width: 45%;
    height: 20vw;
}
.membre .texte3 p{
    font-size: 1vw;
    padding: 1vw;
}