@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', 'sans-serif';
    overflow-x: hidden;
    /* padding: 5rem 10%; */
}

/* .container {
    width: 40%;
    background: white;
    margin: auto;
    border-radius: 2vw;
    box-shadow: 0 0 2vw rgba(0, 0, 0, 0.1);
    gap: 4vw;
}
h1 {
    color: #2c3e50;
    text-align: center;
} */


/* #parent{
    position: relative;
  }
  #pas{
    position: absolute;
    display: none;
    padding: 1vw 0;
  
  }
  #pas li:nth-child(1){
    margin-bottom: 1vw;
  }
  #pas li a{
    padding: .5vw;
  }
  #pas li a:hover{
    background: greenyellow;
  }
  #parent:hover #pas{
    display: block;
  } */
  
  #Etapes{
        background: rgb(243, 239, 239);
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        display: inline-block;
        align-items: center;
        padding: 5rem 10%;
        margin-top: 10vw;
        /* width: 100%;
        height: 40%; */
  }
  #Etapes .F{
  
  }
  #Etapes .F h2{
      text-transform: uppercase;
      color: #8B0000;
      text-align: center;
      font-size: 2.5vw;
      margin-top: 2vw;
      text-decoration: dotted;
      padding: 4vw;
  }
  #Etapes .box-c{
      width:100%;
      height: auto;
      box-shadow: 0 0 0.6vw rgba(0, 0, 0, 0.425);
      justify-content: space-evenly;
      display: flex;
      padding: 1vw;
  }
  
  #Etapes .box-c .c{
      background: rgba(255, 255, 255, 0.674);
      margin-top: 4vw;
      margin-bottom: 2vw;
      width: 40%;
      /* height: 100%; */
  }
  .box-c img{
      width: 40%;
      height: auto;
      margin-top: 4vw;
      margin-bottom: 2vw;
      padding: 1vw;
      border-radius: 1vw;
  }
  .box-c .c h4{
      text-transform: uppercase;
      font-size: 2vw;
      text-align: center;
     
  }
  .box-c .c hr{
      margin: 1.5vw 4vw;
      height: 0.2vw;
      box-shadow:inset 0 0.1vw 0.2vw gray;
      /* border: solid 0.1vw rgba(0, 0, 0, 0.878); */
  }
  .box-c p{
     text-align: justify;
     padding: 1vw;
  }
  blockquote {
    background:rgba(249, 189, 189, 0.837);
    border-left: 1vw solid  #8B0000;
    font-style: italic;
    text-align: justify;
    font-size: 1vw;
    padding: 1vw;
    margin: 3vw 2vw;
    width: 90%;
}
p {
    line-height: 1.6;
    color: #555;
    margin: 3vw 2vw;

}
.G {
    font-weight: bold;
    color: #d35400;
}

   .btn {
    display: block;
    width:12vw;
    font-size: 1vw;
    /* background: #9dd1f4c3; */
    color: black;
    padding: .6vw;
    text-decoration: none;
    border-radius: 2vw;
    font-weight: bold;
    margin-left: 2vw;
    border:solid black .1vw;
}

.btn:hover {
    background: #54b2f1;
    color: white;
}