@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', 'sans-serif';
    overflow-x: hidden;
}   
#section-historique{
    padding: 5vw;
    background: gainsboro;
}
h1{
    text-align: center;
    font-size: 4vw;
    text-transform: capitalize;
   color:  rgb(241, 188, 51)
}
img{
    width: 60vw;
    height: 30vw;
    margin-right: 4vw;
}
.historique .box{
    display: flex;
    padding: 2vw;
}
.historique .box .description{
    padding: 1.2vw;
    padding-top: 0vw;
}
.historique .box .description h2{
    font-size: 2vw;
    padding: 2vw;
}
.historique .box .description p{
    font-size: 1.2vw;
    padding: 1vw;

}
#missionnaires{
    width: 100%;
    margin: auto;
    overflow: hidden;
    padding:5rem 10%;
    gap: 2vw;
    
}


#missionnaires h1 {
   font-size: 2vw;
    color: #170c21;
    text-align: center;
    /* text-decoration: underline; */
    padding: 3vw;
    text-transform: uppercase;
}


.contenu {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4vw;
}

.texte {
    font-size: 1.2vw;
    padding: 1.6vw;
    width: 50%; 
    text-align: justify;
}
.texte span{
    font-size: 1.3vw;
    font-weight: bold;
}
.image {
    width: 50%;
    text-align: center;
}
img {
    width: 100%;
    max-width: 450px
    
}
.highlight {
    font-size: 1.1vw;
    padding-left: 3vw;
    font-weight: bold;
    color: #b22222; 
}
ul {
    font-weight: bold;
    font-size: 1vw;
    padding: 1vw;
    margin-left: -2.5vw;
}
ul li{
    padding-left: 3vw;
    list-style: none;
    
    font-size: 1.2vw;
}
.contenu1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4vw;
}
.colonne1 {
    width: 50%; 
}
.colonne1 img {
    width: 100%;
    max-width: 450px; 
    height: auto;
    border-radius: 10px;
    display: block;
    margin: auto;
}
.colonne1 texte {
    text-align: justify;
    font-size: 1.1em;
    line-height: 1.5;
}