@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

body{
    overflow-x: hidden;
    padding: 5rem 10%;
}
.box{
    width: 100%;
    /* height: 40vw; */
    /* box-shadow: 0 0 0.6vw rgba(0, 0, 0, 0.425); */
    justify-content: space-between;
    display: flex;
    padding: 1vw;
 }
 
 .container {
     width: 45%;
     /* margin: 10vw auto; */
     background: #fff;
     padding: 2vw;
     border-radius: 2vw;
     /* box-shadow: 0vw 10vw 5vw rgba(222, 221, 221, 0.715); */
     font-family: "Arial", sans-serif;
    }
    .photos{
        width: 45%;
        height: auto;
        /* justify-content:center; */
        flex-direction: column;
        display: flex;
        padding: 1vw; 
        /* margin-top: 15vw; */
    }
    .photos .container-img{
        width: 100%;
        height: 20vw;
        box-shadow: inset;
        border-radius: 1vw;
        
    }
    .photos .container-img img{
        /* margin-top: 4vw; */
    width: 25%;
    height:16vw;
    object-fit: cover;
    display: block;
    border-radius: 8px;
   }
h1 {
    color: #8B0000;
    text-align: center;
    font-size: 2.5vw;
    margin-bottom: 6vw;
    text-decoration: dotted;
}

p {
    text-align: justify;
    font-size: 1.2vw;
    margin-bottom: 2vw;
}
blockquote {
    background:rgba(249, 189, 189, 0.837);
    border-left: 1vw solid  #8B0000;
    font-style: italic;
    font-size: 1vw;
    padding: 1vw;
    /* margin: 5vw 0; */
}

spam {
    color:black;
    font-weight: bold;
    font-size: 1vw;
}

em {
    color: #555;
    font-weight: bold;
    font-size: 1vw;
}


.section-wrapper {
    display: flex;
    align-items: flex-start; /* Pour aligner les débuts de blocs */
    gap: 4vw; /* Espace entre les deux colonnes */
}

.container {
    flex: 2; /* Plus large (texte) */
}

.Photos {
    flex: 1; /* Plus étroit (images) */
}

.container-img {
    margin-bottom: 4vw;
}

.container-img img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
@media (max-width: 768px) {
    .section-wrapper {
        flex-direction: column;
    }
}
