@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', 'sans-serif';
    overflow-x: hidden;
}


header {
    width: 100%;
    /* height: 50%; */
    padding: 0 8vw;
    background: rgba(69, 67, 67, 0.87);
    position:fixed;
    z-index: 1;
   
    /* padding-top: 4vw; */
}
header .logo{
 
}

header .logo img{
  
   width: 10vw;
   border-radius: .3vw;
   
   
}
nav { 
    color: black; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    /* padding: 3vw;  */
}
nav ul {
    /* background: rosybrown; */
    list-style: none; 
    display: flex; 
}
.dropdown{
    background:rgba(248, 9, 9, 0.427);
    border-radius: .5vw;
    position: absolute;
    top: 1.8vw;

}
nav ul li {
    position: relative;
    margin: 0 2vw; 
}
nav ul li a { 
    color: white; 
    text-decoration: none;
    font-size: 1.5vw;
}
        nav ul li ul { 
    display: none;
    position: absolute; 
    top: 0%; 
    left: 0; 
    /* background: #edeeee; */
    /* padding: 9vw;  */
    list-style: none; 
}
nav ul li:hover ul {
    display: block; 
}


nav ul li ul li a{
    color:black;
}
nav ul li ul li a:hover{
    color:rgb(255, 234, 6);
}
nav ul li ul li {
margin: 1.2vw ;
}
 .btn2 {
    width: 7vw;
    background: rgb(241, 188, 51);
    padding: .4vw;
    border-radius: .4vw;
    border:none;
}
.btn2 a{
    color: white;
    font-size: 1.2vw;  
    text-decoration: none;
    list-style: none;
    font-weight: bold;
   
  }
  #appostolat {
    width: 100%;
    position: relative;
    /* height: 30vw; */
    padding:20vw;
}
#appostolat::before {
    width: 100%;
    height: 100%;
    background:url(../../images/sessionistes\ 2024.jpg ) rgba(0, 0, 0, 0.064);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 0 -8vw;
    background-blend-mode: darken;
    filter: grayscale(100%);
    content: "";                          
    position: absolute;
    top: 0;
    left: 0;
    background-attachment: fixed;

  }
  #appostolat .box1{
    /* background: rosybrown; */
    padding: 6vw;
    align-items:center;
    text-align: center;
    display: block;
    justify-content: center;
    /* border: solid  red 1vw; */
    width: 40vw;
    /* height: 12vw; */
    position: absolute;
    left: 31vw;
    top: 10vw;
 }
 #appostolat .box1 h4{
    font-family: calibri;
    font-size: 1.5vw;
    padding: 1vw;
    color: white;
 }
 #appostolat .box1 h2{
    font-family: police1;
    font-size: 3vw;
    color:rgb(241, 188, 51);
   
 }
 #appostolat .box1 p{
    font-size: 1vw;
    padding: 1vw;
    color: white;
    margin-bottom: 1.5vw;
 }
 #appostolat .box1 .découvert{
    background: none;
    text-decoration: none;
    color: white;
    padding: .8vw;
    font-size: 1vw;
    border-radius: 1.5vw;
    border:solid white .1vw;
    /* margin: 1vw; */
    z-index: 2;
 }
 @media (max-width: 768px) {
    .box {
        flex-direction: column;
        align-items: center;
    }

    .container, img{
        font-size: 35vw;
        width: 90%;
    }
}
 #Présentation{
    /* background: rgb(243, 239, 239); */
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    display: inline-block;
    align-items: center;
    padding:5rem 10%;
    width: 100%;

   
}
.box{
    width:100%;
    /* height: 40vw; */
    /* box-shadow: 0 0 0.6vw rgba(0, 0, 0, 0.425); */
    justify-content: space-between;
    display: flex;
    padding: 1vw;
}
.box img{
    width: 100%;
    height: auto;
    /* border-radius:2vw; */
    padding:1.5vw;  
    /* box-shadow:inset 0vw .5vw 1vw rgba(0, 0, 0, 0.1); */
}


.box-container{
    width: 100%;
    height: 40%;
    margin: .8vw auto;
    /* background: #fff; */
    padding: 1vw;
    /* border-radius: 2vw; */
    /* box-shadow:inset 0vw .5vw 1vw rgba(0, 0, 0, 0.1); */
}
.box-container h4 {
    font-size: 1.2vw;
    font-weight: bold;
    margin-left: 1vw;
    color: black;
}
.box-container h1 {
 
    color: rgb(241, 188, 51);
    text-align: justify;
    font-size: 1.5vw;
    /* margin-top: 2vw; */
    text-decoration: dotted;
    padding: 1vw;
}

.box-container p {
    padding:1vw;
    text-align: justify;
    font-size: 1vw;
    margin-bottom: .5vw;
}
blockquote {
    /* background: #f0f0f0; */
    border-left: 2vw solid #2f2d2d64;
    font-style: italic;
    font-size: 1vw;
    padding: 1vw;
    margin: 5vw 0;
}

span {
    color:rgb(13, 13, 14);
    font-weight: bold;
    font-size: 1vw;
}

em {
    color: #555;
    font-weight: bold;
    font-size: 1vw;
}
.box-container .btn {
    display: block;
    width:12vw;
    font-size: 1vw;
    /* background: #9dd1f4c3; */
    color: black;
    padding: .6vw;
    text-decoration: none;
    border-radius: 2vw;
    font-weight: bold;
    margin-left: 2vw;
    border:solid black .1vw;
}

.btn:hover {
    background: #54b2f1;
    color: white;
}   

#Pays{
    display: flex;
    justify-content: center;
    padding:5rem 10%;
    width: 100%;
}
.flag{
    /* background: yellow; */
    /* border: solid .1vw black; */
    width: 70vw;
}
.title{
    padding: 4vw;
    /* background: plum; */
    text-align: center;
    /* border: solid .1vw black; */

}

.container{
    display: flex;
    justify-content: center;
    /* background: turquoise; */
    flex-wrap: wrap;
    /* border: solid .1vw black;    */

}
.content{
    width: calc(100%/7);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.box-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vw;
    /* border-left: solid .1vw black;    */

}
.box-img img{
    width: 3vw;
}
.text{
    width: 100%;
    /* border-left: solid .1vw black;   */
    /* border-top: solid .1vw black;   */
    text-align: center;

}
.text h3{
    font-size: 1vw;
}
@media (max-width:768px){
    .content{
        width: 50%;
    }
    .title{
        padding: 20vw;
        text-align: center;
    
    }
    .box-img img{
        width: 25vw;
    }
    .text h3{
        font-size: 4vw;
        padding: 15vw;
        text-align: center;
    }
}
@media (max-width:300px){
    .content{
        width: 100%;
    }
    .box-img img{
        width: 5vw;
    }
    .text h3{
        font-size: 4vw;
    }
}

                    


 #Photos{
    margin-top: 1vw;
    overflow: hidden; 
    padding:5rem 10%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
   
 }
 .box2 {
    position: relative;
    width: 40%;
    background: url("../../images/50ans.png") no-repeat center/cover;
    padding: 9vw;
}

.box2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(248, 9, 9, 0.427);
}
.box3 {
    position: relative;
    width: 40%;
    background: url("../../images/Novices_1re_&_2è_année.jpg") no-repeat center/cover;
    padding: 9vw;
}

.box3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 14, 253, 0.373);
}
.box2 .Soeurs{
    /* border: solid blue; */
    width: 15vw;
    position: absolute;
    top: 0vw;
    left: 1vw;
}
.box2 .Soeurs h4{
       color: white;
       font-size: 1.5vw;
       font-weight: bold;

   }
.box2 .Cinquantenaire{
    /* border: solid blue; */
    width: 25vw;
    position: absolute;
    bottom: 0vw;
    left: 1vw;
   }
.box2 .Cinquantenaire p{
    font-size: 1.2vw;
    color: white;
   }
.box3 .Noviciat{
    /* border: solid blue; */
    width: 15vw;
    position: absolute;
    top: 0vw;
    left: 1vw;
}
.box3 .Noviciat h4{
       color: white;
       font-size: 1.5vw;
       font-weight: bold;

   }
   .box3 .Nationalités{
    /* border: solid blue; */
    width: 25vw;
    position: absolute;
    bottom: 0vw;
    left: 1vw;
   }
   .box3 .Nationalités p{
    font-size: 1.2vw;
    color: white;
   }

   #quêtes{
    width: 100%;
    padding: 5rem 10%;
    position: relative;
    
}
#quêtes h4{
    font-size: 1.5vw;
    font-weight: bold;
    margin-left: 5vw;
    padding: 1vw;
    /* border: solid blue; */
}
#quêtes .joie{
    width: 60%;
    position: relative;
    /* display: flex; */
    /* justify-content: space-evenly; */
   }
   #quêtes .joie img{
    width: 100%;
    padding: 1vw;
   }
   #quêtes .joie h4{
    font-size: 1.1vw;
    padding: .5vw;
    width: 16.2vw;
    color: white;
    /* border: solid blue; */
    background: rgba(128, 128, 128, 0.786);
    position: absolute;
    top: 31vw;
    left: -4vw;
   }
   #quêtes .assemblée{
    width: 45%;
    /* display: flex; */
    /* justify-content: space-evenly; */
   }
   #quêtes .assemblée h6{
    font-size: 1vw;
    /* padding: 1vw; */
    margin-left: 4vw;
    position: absolute;
    top: 10vw;
    left: 56vw;
   }
   #quêtes .assemblée .Région{
    width: 25%;
   }
   #quêtes .assemblée .Région h2{
    width: 15vw;
    font-size: 1.5vw;
    padding: 1vw;
    color: rgba(248, 9, 9, 0.514);
    text-align: left;
    text-transform: uppercase;
    font-family: caliri;
    /* border: solid blue; */
    position: absolute;
    top: 12vw;
    left: 59vw;
   }
   #quêtes .objectif{
    width: 30%;
    height:25vw;
    overflow: visible !important;
    background:  rgba(248, 183, 18, 0.595);
    padding: 1vw;
    /* border: solid blue; */
    z-index: 10;
    position: absolute;
    top: 18vw;
    left: 53vw;
   }
   #quêtes .objectif h4{
    font-size: 1vw;
    color: white;
    /* padding: 1vw; */
    text-align: left;
    margin-left: 0;
}
#quêtes .objectif p{
    font-size: 1vw;
    color: white;
    padding: .5vw;
    text-align: justify;
    margin-bottom: 2vw;
   }
   .assemblée .objectif.Soeurs{
    color: white;
    font-size: 1vw;
    font-weight: bold;
    padding: 1vw;

   }
   .soeurs-container {
    display: flex;
    align-items: center; 
    justify-content: flex-end; 
    gap: .1vw; 
    margin-top: 10px; 
}

.soeurs-container img {
    width: 2vw; 
    height: 2vw;
    border-radius: 50%; 
    margin-bottom: 2vw;
}

.soeurs-container .Soeurs {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    margin-right: .1vw;
}
   #réussite{
    width: 100%;
    padding: 5rem 10%;
}
#réussite h2{
    font-size: 1.5vw;
    padding: 1vw;
    margin-left: 5vw;
}
.éducation{
    width: 100%;
    display: flex;
    justify-content: space-around;
   }
   .texte{
    width: 50%;
   }
   .texte p{
    font-size: 1vw;
    margin-left: 1.2vw;
    text-align: justify;
    padding: 1vw;
   }

    
  .examens{
    width: 30%;
  }
  .examens-form {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 2vw; 
    width: 35%; 
    margin: auto;
    display: flex;
    justify-content: center; /* Centre les colonnes */
    gap: 0.3vw; /
    
}

.column {
    display: flex;
    flex-direction: column; 
    text-align: center;
    margin: 0;
    padding: 0;
}

label {
    /* font-weight: bold; */
    margin-bottom: 5px;
}

input {
    width: 10vw;
    font-size: 2vw;
    padding: 2vw;
    color: rgba(248, 9, 9, 0.514);
    text-align: center;
    border: none;
}
#contact{
    width: 100%;
    padding: 5rem 10%;
}
.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1vw; /* Espace entre les deux colonnes */
    width: 80%;
    margin: auto;
}

/* Style de box4 */
.box4 {
    width: 100%;
    /* background: #f4f4f4; */
    /* margin-left: 5vw; */
    padding: .5vw;
    border-radius: .5vw;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.box4 p{
    font-size: 1vw;
    margin-bottom: .8vw;
}

/* Inputs et textarea */
.box4 input, 
.box4 textarea {
    width: 100%;
    padding: 1vw;
    margin-top: .5vw;
    border: .1vw solid #ccc;
    border-radius: 5px;
}

/* Bouton flèche dans textarea */
.textarea-container {
    position: relative;
}

.textarea-container .send-button {
    position: absolute;
    right: .5vw;
    bottom: .5vw;
    color: green;
    background: none;
    border: none;
    font-size: 1vw;
    cursor: pointer;
}
.message{
    font-size: 1vw;
    /* display: inline; */
}

/* Section des messages sous box4 en ligne */
.messages-section {
    display: flex;
    align-items: center;
    gap: 0vw; /* Espace entre l'image et le texte */
    margin-top: .2vw;
}

.messages-section img {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    /* border: .1vw solid #ccc; */
}

.messages-section p {
    font-size: 1vw;
    padding: 2vw;
    /* font-weight: bold; */
    margin: 0;
    color: black;
}

/* Image de la carte */
.map-container img {
    width: 100%;
    /* max-width: 436px;  */
    height:auto;
    border-radius: .5vw;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10%;
    background-color: black;
    border-top: 2px solid #ddd;
}

.footer-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.column1, .column2, .column3 {
    flex: 1;
    padding: 0 2vw;
    width: 30%;
}

.column1 h4 {
    font-size: 1vw;
    margin-bottom: 10px;
    margin-left: 5vw;
    text-align: right;
    color: white;
}

.column1 span {
    font-weight: bold;
    font-size: 2vw;
    color: white;
}

a {
    display: inline;
    font-size: .6rem;
    margin: 3vw .8vw;
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.separator {
    width: 1px;
    background-color: #ccc;
    margin: 0 2vw;
}
.column3{

}
.column3 .parent{
    width: 100%;
    border: solid white .1vw;
    border-radius:.5vw;
    position: relative;
}
.column3 .email-input {
    display: flex;
    align-items: center;
}

#email {
    background: none;
    width: 100%;
    padding: .2vw;
    /* margin-right: 5px; */
    /* border: 1px solid #ccc; */
    /* border-radius: 4px; */
}

.column3 .email-input .send-button{
    /* background-color: #0830b6c6; */
    color: white;
    border: none;
    background: none;
    /* padding: ; */
    cursor: pointer;
    /* border-radius: 50%; */
    font-size: 1vw;
    position: absolute;
    right: .5vw;
    bottom: .6vw;
    
}

.column3 .email-input .send-button:hover {
    color: aqua;
    background-color: #04519d;
}
.column2 p{
    font-size: .8rem;
    padding: 1vw;
    margin-top: 2vw;
    color: white;
}

.column3 p{
    font-size: 0.9rem;
    color: white;
    /* padding: 1vw; */
    margin-bottom: 2vw;
}

#wowslider-container1{
    
  position: absolute;  
  left: 5vw;
  bottom: 5vw;

}
.box-slide {
    width: 100% !important;
    border: solid .5vw white;
}